.character-creation-form {
	position: fixed;
	bottom: 5%;
	right: 5%;

	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	max-width: 400px;
	margin: 5%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 2em;
	border-radius: 0.5em;
	border: 1px solid slategrey;
	box-shadow: 0 2px 10px #000a;
	label {
		display: inline-block;
		font-weight: bold;
		margin-bottom: 1.25em;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	select,
	input {
		padding: 0.5em;
		border-radius: 0.25em;
		border: none;
		background-color: lightgray;
		&:active,
		&:focus {
			background-color: white;
		}
		color: black;
	}

	button {
		display: flex;
		margin-left: auto;
	}
}
