.backdrop {
	background: rgba(0, 0, 0, 1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.background-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		object-position: center;
		pointer-events: none;
		user-select: none;
	}
}


.main-title {
	position: absolute;
	top: 3vh;
	left: 3vw;
	color: #fff;
	text-shadow: 0 2px 8px #000, 0 0 2px #222;
	
	h1 {
		margin: 0;
		font-size: 3rem;
		letter-spacing: 0.1em;
	}
}


.conversation {
	background-color: rgba(20, 20, 20, 0.9);
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 2px 8px #0008;

	p {
		margin-top: 0;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.conversation-controls {
		display: flex;
		justify-content: flex-end;
		button {
			margin-top: 1rem;
			margin-right: 10px;
		}
	}

}