.app-container {
	position: relative;
	width: 100vw;
	height: 100vh;

	.music-toggle {
		position: fixed;
		top: 20px;
		right: 20px;
		background: rgba(30,30,30,0.85);
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&:hover {
			background: rgba(50,50,50,0.85);
		}
		&:focus {
			outline: none;
		}
	}
}

.backdrop {
	background: rgba(0, 0, 0, 1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.background-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.main-title {
	color: #fff;
	text-shadow: 0 2px 8px #000, 0 0 2px #222;
	display: inline-block;
	h1 {
		margin: 5%;
		font-size: min(3rem, 7.5vw);
		letter-spacing: 0.1em;
	}
}


.conversation {
	margin-left: 5%;
	margin-bottom: 5%;
	background-color: rgba(20, 20, 20, 0.9);
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 2px 8px #0008;
	max-height: 80%;
	overflow-y: scroll;
	border: 1px solid slategrey;
	box-shadow: 0 2px 10px #000a;

	p {
		margin-top: 0;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.conversation-controls {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		button {
			margin-top: 1rem;
			margin-right: 10px;
		}
	}

}